<%- include('header') %>

<link rel="stylesheet" href="css/style_category.css">

    <div class="categories">
        <div class="category-link">
            <a href="#category1" class="category">category1</a> 
        </div>

        <div class="category-link">
            <a href="#category2" class="category">category2</a> 
        </div>
        <div class="category-link">
            <a href="#category1" class="category">category1</a> 
        </div>

        <div class="category-link">
            <a href="#category2" class="category">category2</a> 
        </div>
        <div class="category-link">
            <a href="#category1" class="category">category1</a> 
        </div>

        <div class="category-link">
            <a href="#category2" class="category">category2</a> 
        </div>
        <div class="category-link">
            <a href="#category1" class="category">category1</a> 
        </div>
        
    </div>
<%- include('footer') %>  