<%- include("header") %>

<link rel="stylesheet" href="css/style_login.css">
<title>Example Login Form</title>
  </head>
  <body>

<div class="sidenav">
    <div class="login-main-text">
       <h2>Wingit.Menu<br> Login Page</h2>
       <p>Login or register from here to edit your menu.</p>
    </div>
 </div>
 
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form action="/login" method="post">

             <div class="form-group">
                <label>User Name</label>
                <input type="text" name="username" class="form-control" placeholder="User Name" required>
             </div>

             <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
             </div>

             <br>

             <button type="submit" class="btn btn-black login" value="login">Login</button>
             <button type="submit" class="btn btn-black register" value="register">Register</button>

          </form>
       </div>
    </div>
 </div>

<%- include("footer") %> 