<article class="postcard light">
    <img
      class="postcard__img"
      src="images/dishes/farm_house.jpg"
      alt="Image Title"
    />
    <div class="postcard__text t-dark">
      <h1 class="postcard__title">Farm House</h1>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        
      </div>
      <div class="postcard__preview-txt">
      Choice1/Choice2
      </div>
      <ul class="postcard__tagbox">
        <li class="tag__item"><i class="fa fa-inr"></i> 250</li>
        <li class="tag__item">
          <i class="fas fa-clock mr-2"></i> 15 mins
        </li>
        <li class="tag__item blue">
          <i class="fas fa-pepper-hot"></i>
          <i class="fas fa-pepper-hot"></i>
        </li>
        <li class="tag__item">
          <img
            class="veg_nonveg"
            src="images/icons/veg.png"
            alt="triangle with equal sides"
            srcset="images/icons/veg.svg"
          />
        </li>
      </ul>
    </div>
  </article>