@font-face {
  font-family: "Beyond The Mountains";
  font-style: normal;
  font-weight: normal;
  src: local("Beyond The Mountains"),
    url("beyond_the_mountains.woff") format("woff");
}
html {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min: height 2000px;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  top: 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav.me-auto {
  margin: auto;
}
.navbar .navbar-toggler {
  margin-left: auto;
  margin-right: 2rem;
}

.title-div {
  height: 100vh;
  width: 100%;
  text-align: center;
  border-radius: 0 0 50px 0;
  background-image: linear-gradient(#68e0cf, #20bdff);
}

.wingit {
  font-family: "Beyond The Mountains";
  font-weight: normal;
  color: #fff;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1), 9px 9px 0px rgba(0, 0, 0, 0.05);
}

.title-div .wingit-title {
  position: relative;
  top: 30%;
  transform: translate(-8px);
}

.title-div .wingit {
  font-size: 6rem;
}

h1.before-typing {
  padding-top: 30px;
  position: relative;
  color: #fff;
}

.title-animation {
  position: relative;
  top: 53%;
  left: 50%;
  width: 360px;
  transform: translateX(-50%);
  text-align: left;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

/* Scroll down icon animamtion */
.title-div .scroll {
  position: absolute;
  left: 50%;
  top: 85vh;
  min-width: fit-content;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  text-align: center;
}

.chevron {
  position: absolute;
  left: 35%;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  position: relative;
  top: 75px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* About section */
#about {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-image: linear-gradient( #20bdff, #f089e5);
}

.about-div {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 50px 0 50px  0;
}

/* Plans section */
#plans {
  height: 100vh;
  width: 100%;
  padding: 0;
background-color: #fff;
}

.plans-div {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#f089e5,#ec8b6b );
  border-radius: 50px 0 0  0;
}

/* Media queries */

@media screen and (min-width: 500px) {
  .title-div {
    border-radius: 0 0 100px 0;
  }

  .title-div .wingit {
    font-size: 8rem;
  }

  .about-div {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 100px 0 100px  0;
  }

  .plans-div {
    border-radius: 100px 0 100px  0;
  }

}


@media screen and (min-width: 992px) {
  .title-div {
    border-radius: 0 0 200px 0;
  }
  .title-div .wingit-title {
    top: 17%;
  }

  .title-div .wingit {
    font-size: 15rem;
  }

  h1.before-typing {
    padding-top: 60px;
  }
  .about-div {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 200px 0 200px  0;
  }

  .plans-div {
    border-radius: 200px 0 200px  0;
  }
}
