body {
  height: 100vh;
  width: 100vw;
  background-color: #ddd;
}
.categories {
  display: inline;
  position: absolute;
  top: 4rem;
  height: 2.5rem;
  width: 90%;
  background-color: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 0.5rem;
  left: 50%;
  transform: translate(-50%);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.categories::-webkit-scrollbar {
    display: none;
  }

.categories .category-link {
    position: relative;
    top: 20%;
  padding: 0.5rem;
  display: inline;
  background-color: #fff;
  color: white;
}

a.category {
  text-decoration: none;
  color: black;
}
