<%- include('header') %> 

    <link href="css/style_create.css" rel="stylesheet" />

    <title>Menu Creator</title>
  </head>
  <body>
    <div class="container">
      <form action="/item" method="post">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">
          ADD A NEW MENU ITEM
        </div>

        <div class="row">
          <div class="col-25">
            <label for="name">Item Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Grilled Cheese Sandwich"
              required
            />
          </div>
        </div>

        <div class="col-md-12 mt-3 text-center">
          <label class="checkbox-level" for="veg">Vegetarian</label>
          <input
            type="checkbox"
            class="grid-item form-check-input"
            name="veg"
            id="veg"
            autocomplete="off"
          />

          <label class="checkbox-level" for="non-veg">Non-vegetarian</label>
          <input
            type="checkbox"
            class="grid-item form-check-input"
            name="non-veg"
            id="non-veg"
            autocomplete="off"
          />
        </div>

        <div class="row">
          <div class="col-25">
            <label for="price">Price</label>
          </div>
          <div class="col-75">
            <input type="text" id="price" name="price" placeholder="60" />
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="description">Description</label>
          </div>
          <div class="col-75">
            <textarea
              id="description"
              name="description"
              placeholder="Write something.."
              style="height: 200px"
            ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="category">Category</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="category"
              name="category"
              placeholder="Sandwiches"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="choices">Choices</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="choices"
              name="choices"
              placeholder="Choice1/Choice2"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="cooking_time">Cooking Time</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="cooking_time"
              name="cooking_time"
              placeholder="12"
            />
          </div>
        </div>

        <div class="col-md-12 mt-3 text-center">
          <label class="checkbox-level" for="availability">Availability</label>
          <input
            type="checkbox"
            class="grid-item form-check-input filled-in"
            name="availability"
            id="availability"
            autocomplete="off"
          />
        </div>

        <div class="row">
          <input
            class="btn"
            type="submit"
            id="submit"
            name="submit"
            value="Submit"
          />
        </div>
      </form>
    </div>
    
<%- include('footer') %> 
