<%- include("header") %>
  <link href="css/style_index.css" rel="stylesheet" />

  <title>WingIt.Menu</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">

        <button class="menu navbar-toggler"
          onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
          type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <svg width="50" height="50" viewBox="0 0 100 100">
            <path class="line line1"
              d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3"
              d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
          </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/demo">DEMO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#plans">PLANS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">LOGIN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container-fluid " id="home">
      <div class=" title-div">
        <div class="wingit-title">
          <a href="#home" class="wingit">Wingit</a>

          <h1 class="before-typing">Ordering made
            <a href="#features" class="typewrite" data-period="2000" data-type='[ "fast.", "safe.", "easy."]'>
              <span class="wrap"></span>
            </a>
          </h1>
        </div>
    </section>

    <div class="container scroll">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <span class="text">Scroll down</span>
    </div>

    <section class="container-fluid" id="about">
      <div class="about-div">
      </div>
    </section>

    <section class="container-fluid" id="plans">
      <div class="plans-div">
      </div>
    </section>

    <section class="container-fluid" id="contact">
      <div class="contact-div">
      </div>
    </section>

    <section class="container-fluid" id="footer">
      <div class="footer-div">
        <div class="footer-bar">
          <!-- <a href="https://madewithlove.org.in" target="_blank">Made with 
            <span style="color: #e74c3c">&hearts;
            </span> in India
          </a> -->

          <a href="#home" class="wingit">Wingit
          </a>
        </div>
      </div>
    </section>

    <script src="src/typing-animation.js"></script>

    <%- include("footer") %>